
<link rel="import" href="../bower_components/core-iconset-svg/core-iconset-svg.html">

<core-iconset-svg id="ss-icons" iconSize="64">
  <svg>
    <g id="ss-icon">
      <ellipse id="svg_5" ry="32" rx="32" cy="32" cx="32" fill="#33666C"></ellipse>
      <rect id="svg_3" height="32" width="64" fill="#9ACEE6"></rect>
      <rect id="svg_8" height="64" width="32" fill="#9ACEE6"></rect>
      <ellipse id="svg_9" ry="24" rx="24" cy="32" cx="32" fill="#6D97AB"></ellipse>
    </g>
  </svg>
</core-iconset-svg>
