<!-- public/components/app-my-element.html -->
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<polymer-element name="ss-home">
  <template>
    <!--<link rel="stylesheet" href="ss-home.css">-->
    <template if="{{loggedIn}}">
      Welcome!
      <paper-button on-tap="{{logout}}">Log Out</paper-button>
    </template>
    <template if="{{!loggedIn}}">
      <paper-button on-tap="{{login}}">Log In</paper-button>
    </template>
  </template>
  <script>
    Polymer('ss-home', {
      loggedIn: false,
      login: function() {
        this.loggedIn = true;
      },
      logout: function() {
        this.loggedIn = false;
      }
    });
  </script>
</polymer-element>

